* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.body {
  position: absolute;
}

.comp {
  height: 240px;
  width: 160px;
  border-radius: 15px;
  background-color: rgb(210, 23, 163);
  position: absolute;
}

/**box-shadow: 0 0 0 3px #f00 inset;*/

#comp1 {
  overflow: hidden;
}
